.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #707070;
  padding: 5px;
  border-radius: 5px;
  height: 248px;
  width: 156px;
}

.content-doctor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
  background-color: #175699;
  width: 148px;
  padding: 5px;
}

.content-pacient {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
  background-color: #7CA0D0;
  width: 148px;
  padding: 5px;
}

.name {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FCFCFC;
}

.extra-info {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #D0D0D0;
}

img {
  width: 148px;
  height: 176px;
}

