.sidebar {
  width: 96px;
  height: 100vh;
  background-color: #175699;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sidebar .logo {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}